body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #282c34;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

#site-name {
  text-decoration: none;
  font-weight: 700;
  font-size: 50px;
  cursor: pointer;
  color: #939caa;
}

#site-name:hover {
  color: white;
  cursor: pointer;
}

#light-mode {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  color: #939caa;
}  

#light-mode:hover {
  color: white;
  cursor: pointer;
}

.social-media {
  display: flex;
  justify-content:space-around; 
  margin-top: 20px;
  font-size: 50px;
}

#wire {
cursor: pointer;
text-decoration: none;
color: white;
}

#wire:hover {
  color: white;
}

#reddit {
cursor: pointer;
text-decoration: none;
color: orange;
}

#reddit:hover {
  color: white;
}

#pixelfed {
cursor: pointer;
text-decoration: none;
color: purple;
}

#pixelfed:hover {
  color: white;
}

#mastodon {
cursor: pointer;
text-decoration: none;
color: darkblue;
}

#mastodon:hover {
color: white;
}

#paypal {
cursor: pointer;
text-decoration: none;
color: blue;
}

#paypal:hover {
  color: white;
}

#spotify {
cursor: pointer;
text-decoration: none;
color: green;
}

#spotify:hover {
  color: white;
}

#github {
cursor: pointer;
text-decoration: none;
color: black;
}

#github:hover{ 
color: white;
 }

#gitlab {
cursor: pointer;
text-decoration: none;
color: orange;
}

#gitlab:hover {
  color: white;
}

#back {
  width: 313px;
  height: 59px;
  font-size: 35px;
  border-style: dashed;
  color: #939caa;
  background-color: #282c34;
  border-color: white;
  cursor: pointer;
  margin-top: 20px;
}

#back:hover {
  color:white;
}