body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

#site-name {
  text-decoration: none;
  font-weight: 700;
  font-size: 50px;
  cursor: pointer;
}

.mods {
  display: flex;
  justify-content: center;
}

#light-mode {
  font-size: 30px;
  cursor: pointer;
}

#• {
  font-size: 30px;
}

#dark-mode {
  font-size: 30px;
  cursor: pointer;
}

#photo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#name {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: 700;
  margin-top: 20px;
}

#random {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#socialmedia {
  width: 313px;
  height: 59px;
  font-size: 35px;
  border-style: dashed;
  color: #939caa;
  background-color: #282c34;
  border-color: white;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #939caa;
}

#coded {
  font-weight: 1000;
  font-size: 25px;
}

#love {
  font-weight: 1000;
  font-size: 25px;
}

#my-name {
  font-weight: 1000;
  font-size: 25px;
  color: #939caa;
  text-decoration: none;
  cursor: pointer;
}
